html {
  font-size: 62.5%;
}

h3 {
  margin-top: 0 !important;
}

body {
  box-sizing: border-box;
  padding: 0.2rem;
}

::selection {
  background-color: #c3e0e5;
  color: whitesmoke;
}

.generator-box {
  background-color: #274472;
  color: whitesmoke;
  width: 100%;
  height: auto;
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
}
.generator-box__header {
  font-weight: 700;
  padding-top: 2rem;
  font-size: 2.5rem;
  color: #fff;
}
.generator-box__input {
  background-color: #0c2d48;
  display: inline-block;
  width: 80%;
  height: 40px;
  margin: 1.5rem;
  border-radius: 50px;
}
.generator-box__input--textbox {
  background-color: #0c2d48;
  height: 100%;
  width: 85%;
  border: none;
  text-align: center;
  color: #eee;
  font-size: larger;
}
.generator-box__input--label {
  background-color: #41729f;
  float: right;
  height: 100%;
  width: 17%;
  border-radius: 50px;
}
.generator-box__input--label:hover {
  background-color: #5885af;
}
.generator-box__icon {
  color: #eee;
  display: inline-block;
  font-size: 250%;
  position: relative;
  top: 17.5%;
  cursor: pointer;
}
.generator-box__params--content {
  display: inline-block;
  text-align: left;
}
.generator-box__params {
  padding: 0 32px;
}
.generator-box__params label {
  float: left;
  height: 2rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 100;
}
.generator-box__params span {
  float: left;
  height: 2rem;
  margin-top: 1rem;
  font-size: 4rem;
  font-weight: 500;
}
.generator-box__params input {
  float: right;
  margin: 1rem;
  width: 5rem;
  height: 2rem;
}

button {
  margin: 2rem;
  border: none;
  background-color: #0c2d48;
  color: #fff;
  text-transform: uppercase;
  height: 4rem;
  width: 80%;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.alert {
  font-size: small;
  color: #18a558;
}

#length {
  background-color: #0c2d48;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  color: whitesmoke;
}
